input[type="color"].blu-but{
  padding: 0;
  height: 41px;
  width: 40px;
}

canvas{
  border: 1px solid #aaa;
}

#canvasSize:not(:focus), #canvasSize::placeholder{
  color: #0a426d;
  border-color: #0a426d;
}

#canvasSize{
  width: 172px;
}

#ovr-win *{
  font-weight: 200;
  text-align: center;
}

h2{
  font-size: 40px;
}

.txt-inp-blu::placeholder, .txt-inp-blu{
  color: #ccc;
}

.rwp:nth-child(2){
  justify-content: flex-start;
  max-height: 44px;
  overflow: hidden;
}

.rwp:nth-child(3){
  justify-content: center;
  overflow: hidden;
}

.ran{
  margin-top: 30px;
  z-index: 10;
}

.drp:not(li){
  margin-top: 10px;
  padding: 0;
}

.drp ul{
  z-index: 100;
  margin-top: 13px;
}

.drp ul li{
  margin: -8px;
}

.drp ul.set li{
  margin-top: -18px;
}

.drp ul.draw{
  margin-top: 20px;
}
