* {
    margin: 0;
    padding: 0;
    font-family: Segoe UI, sans-serif;
    user-select: none;
}

.main-menu {
    background: #22252a;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.main-menu {
    z-index: 10000;
}

.main-menu__item {
    padding: .7rem;
    background: #16181d;
    transition: .5s;
    margin-right: 1px;
    cursor: pointer;
}

.main-menu__item:hover {
    background: #4b4b4f;
}

.main-menu__item--dropdown {
    display: none;
    position: absolute;
    margin-top: .7rem;
    margin-left: -.7rem;
    background: #3e3f3f;
    color: #fff;
    cursor: pointer;
    z-index: 10001;
}

.main-menu__item--dropdown.show {
    display: block;
}

.main-menu__item--dropdown--item {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
}

.main-menu__item--dropdown--item:hover {
    background: #555757;
}

.main-menu__item--dropdown--item input {
    cursor: pointer;
    transform: translateX(.5rem);
    margin-left: auto;
    margin-right: .5rem;
}

.main-menu__item--dropdown--item input[type=color] {
    background: none;
    border: none;
    width: 20px;
}

.d-none {
    display: none;
}

#canvas-area {
    position: relative;
}

#canvas-area canvas {
    position: absolute;
}

#canvas-preview {
    cursor: crosshair;
    z-index: 9999;
}

#canvas-main {
    background: url(../../img/squares.svg) repeat;
}

#layer-manager {
    z-index: 20000;
    background: #fff;
    box-shadow: 0 0 8px #3e3f3f;
}

#layer-manager__upper-bar {
    display: flex;
    padding: .7rem;
    background: #16181d;
    color: #fff;
}

#layer-manager__exit {
    margin-left: auto;
    padding: -.5rem;
    background: #570201;
    cursor: pointer;
}

#layer-manager__exit:hover {
    background: #400201;
}

#layer-manager__content {
    padding: 1rem;
    cursor: default;
}

#layer-manager__content img {
    width: 170px;
    border: 2px solid #bfbfbf;
    transition: .33s;
    cursor: pointer;
}

#layer-manager__content img.active {
    border-color: #13681d;
}

.layer-manager__item:first-child {
    margin-top: 0;
}

.layer-manager__item {
    margin-top: 1rem;
}

.button {
    background: #16181d;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: .3rem;
    font-size: 20px;
}

.button:hover {
    background: #343c46;
}